@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&display=swap');


body{
    font-family: 'Cabin', sans-serif;
    background-image: url(/images/gradient-black-background-wallpaper-2.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header h2, header h4{
    font-size:40px;
    font-weight: 900;
    background-image: repeating-linear-gradient(to right,
     #bab7b2 10%, #e8b923 30%, #990000 50%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    background-size: 200%;
    background-position: -200%;
    transition: all ease-in-out 6s;
    text-align: center;
    display: flex;
    justify-content: center;   
}

header h2, header h4:hover{
    background-position: 200%;
}

body:not(header){
    color: #bab7b2;
}

/* Nav bar stuff*/
.toggle-container{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbutton, .navbutton::before. , .navbutton::after{
    display: flex;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px; 
}

.navbutton::before{
    content: '';
    margin-top: -8px;

}

.navbutton::after{
    content:'';
    margin-top: 8px;
}

.toggle{
    z-index:2;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

.hamburger{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger > div{
    position: relative;
    top: 0;
    left: 0;
    background: white;
    height: 20px;
    width: 20px;
    transition: all 0.6s ease;
}

.hamburger > div::before,
.hamburger > div::after{
    content:"";
    position: absolute;
    top: -10px;
    background: white;
    width: 100%;
    height: 2px;
    transition: all 0.6s ease;
}

.hamburger > div::after{
    top: 10px;
}

.toggle:checked + .hamburger > div{
    background: rgba(0,0,0,0);
}

.toggle:checked + .hamburger > div::before{
    top:0;
    transform: rotate(45deg);
    background: whitesmoke;
}

.toggle:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
    background: whitesmoke;
}

.menu{
    background: rgba(229,228,226,0.3);
    width: 0%;
    height: 20px;
    transition: all 0.6s ease;
}

.toggle:checked ~ .menu{
    width: 20%
}

.menu > div > ul{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 70px;
    padding-left: 10px;
    visibility: hidden;
}

.menu > div > ul > li{
    list-style: none;
    padding: 0.5rem;
}

.menu > div > ul > li > a{
color: black;
font-size: 2rem;
}

.toggle:checked ~ .menu > div > ul{
    transition: visibility 0.6s ease;
    transition-delay: 0.1s;
    visibility: visible;
}

.toggle:checked ~ .menu > div > ul > li > a:hover{
    color: orange;
}

footer{
    text-align: center;
}

.resume{
    text-align: justify;
}

.indexClass{
    column-count: 2;
}

table{
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collaspe;
}

td{
    height: 50px;
}

table, th,td, tr{
    padding: 15px;
    text-align: justify;
    border: 3px solid white;
}

.tableLabel{
    text-align: center;
}

.videoDiv{
  display: flex;
  justify-content: center;  
}